<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id='center'>
    <header>
      <h1>MUSIC APP</h1>
    </header>
<% if logged_in? %>
    <form action="<%= bands_url %>" method="get">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <input type="submit" value="Go Home">
    </form>

    <form action="<%= session_url %>" method="post">
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Sign Out">
    </form>
<% end %>

<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<% if flash[:errors] %>
  <p><%= flash[:errors].join(", ") %></p>
<% end %>

    <%= yield %>
    </div>
  </body>
</html>
